<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>holy land underground</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="hero-wrapper">
    <div id="hero">
      <video id="banner" autoplay="autoplay" loop="loop" preload="auto">
        <source id="mp4" src="video/banner.mp4" type="video/mp4">
        <source id="webm" src="video/banner.webm" type="video/webm">

      </video>
    </div>
    <div id="header" class="text-center va-container">
      <div class="va-middle">
        <h1 id="title">Holy Land Underground</h1>
        <div class="people">
          <div class="person">
            <img class="face round" src="img/profiles/liva.jpg">
            <div class="name">Liva Dudareva</div>
          </div>
          <div class="person">
            <img class="face round" src="img/profiles/edu.jpg">
            <div class="name">Eduardo Gimenez-Cassina de Bergareche</div>
          </div>
          <div class="person">
            <img class="face round" src="img/profiles/dario.jpg">
            <div class="name">Darío Villanueva Ablanedo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div id="article">
      <section id="intro">
        <p>Traversing the undulating topography, navigating the urban fabric, contemplating moving sceneries is a daily, weekly, monthly routine for those who live in Ramat Gan and work in central Tel Aviv, for those who live in Beit Jala and commute to Ramallah, for the Jerusalemites who visit relatives in Nablus and Holon on weekends or for those who live in Haifa and come to have a weekend with their friends in Galilee.</p>
        <p>
        Trajectories defined and re-defined by distances and time, projected in physical and mental space of its' commuters. Crossing the country on the ground level confronted by borders, fences, undulating roads, no-go areas, deserts, checkpoints, compounds, wadis, settlements and buffer zones distorts the sense of time and distance.</p>
      </section>
      <section id="intro2">
        <p>A continuos seamless topography would not exceed 100 km in its width and 400km in its height. Theoretically, a falcon flying over the territory at an average speed - 80km/h - would take less than 1.5hrs to cross it from east to west and 5 hours from north to south.</p>

        <ul>
          <li>It takes 1200 min to walk 100 km</li>
          <li>It takes 480 min to cycle 100 km</li>
          <li>It takes 60 min to drive 100 km</li>
          <li>It takes 6 min to fly 100 km</li>
        </ul>
        <p>Yet the distances in this territory, the size of Lake Michigan, Taiwan or Vancouver Island, do not always correspond with the time it would take to reach the destination. Crossing the landscape from the shores of the Mediterranean to the shores of the Dead Sea is still a rather large distance in the minds of most… whereas it would be a metro ride away in other contexts.
        </p>
      </section>
    </div>
  </div>
  <script id="live-reload" src="http://localhost:35729/livereload.js"></script>
  <script src="app.js"></script>
</body>
</html>